#header {
  clear: both;
  background: #2f2f2f;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #2f2f2f 0%, #1b1a1a 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #2f2f2f 0%, #1b1a1a 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #2f2f2f 0%, #1b1a1a 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f2f2f), color-stop(1, #1b1a1a));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #2f2f2f 0%, #1b1a1a 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #2f2f2f 0%, #1b1a1a 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1a1a'); }

#header-inside {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden; }

#header-menu {
  clear: both;
  background: #222222;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535; }

#header-menu-inside {
  width: 960px;
  margin: 0 auto;
  height: 45px;
  line-height: 46px; }

#header-inside-left {
  float: left;
  width: 620px;
  padding: 0 60px 0 0;
  margin: 0; }

#header-inside-right {
  float: left;
  width: 280px;
  padding: 0; }

#logo {
  float: left;
  width: 336px;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0; }

#logo a {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden; }

#logo img {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden; }

#banner {
  clear: both;
  border-bottom: 1px solid #fcfcfc;
  overflow: hidden;
  background: #efeeee;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #efeeee 0%, #dadada 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #efeeee 0%, #dadada 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #efeeee 0%, #dadada 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efeeee), color-stop(1, #dadada));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #efeeee 0%, #dadada 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #efeeee 0%, #dadada 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeee', endColorstr='#dadada'); }

#content {
  clear: both;
  overflow: hidden;
  background: #e8e8e8;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #e8e8e8 0%, #efefef 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #efefef 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #efefef 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(1, #efefef));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #efefef 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #e8e8e8 0%, #efefef 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#efefef'); }

#content-inside {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 60px;
  overflow: hidden;
  display: block; }

#main {
  float: left;
  width: 620px;
  padding: 0 60px 0 0;
  margin: 0; }

#sidebar {
  float: left;
  width: 280px;
  padding: 0; }

.no-sidebars #main {
  width: 960px;
  padding: 0;
  margin: 0; }

.no-sidebars #sidebar {
  display: none; }

.meta-data {
  font-size: 75%;
  text-transform: uppercase;
  color: #545454;
  margin: 5px 0 20px 0;
  display: block;
  overflow: hidden;
  clear: both; }

#footer {
  clear: both;
  overflow: hidden;
  background: #181818;
  padding: 20px 0 50px 0; }

#footer-inside {
  width: 960px;
  margin: 0 auto; }

.footer-area {
  width: 280px;
  float: left;
  padding: 0 50px 0 0; }

.footer-area.first {
  width: 280px; }

.footer-area.second {
  width: 300px; }

.footer-area.third {
  width: 280px;
  padding: 0; }

.node.node-teaser {
  margin-bottom: 60px; }

#footer-bottom {
  clear: both;
  overflow: hidden;
  padding: 40px 0;
  border-top: 1px solid #353535;
  background: #1a1a1a;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #262626 0%, #1a1a1a 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #262626 0%, #1a1a1a 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #262626 0%, #1a1a1a 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #262626), color-stop(1, #1a1a1a));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #262626 0%, #1a1a1a 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #262626 0%, #1a1a1a 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#1a1a1a'); }

#footer-bottom-inside {
  width: 960px;
  margin: 0 auto; }

#footer-bottom-left {
  float: left;
  width: 620px;
  padding: 0 60px 0 0;
  margin: 0; }

#footer-bottom-right {
  float: left;
  width: 280px;
  padding: 0; }

body {
  font: 0.8em/165% "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #7a7a7a;
  outline: 0 none;
  vertical-align: baseline;
  background: #1a1a1a; }
