
body { 
    font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
    margin:0; 
    padding:0; 
    color: #7a7a7a; 
    outline:0 none; 
    vertical-align:baseline; 
    background:#1a1a1a;
}

h1, h2, h3, h4, h5, h6 { 
    margin:25px 0 20px 0; 
    line-height:120%; 
    text-shadow: 1px 1px 1px #EAF1EA; 
    color:#1487d4; 
    font-family: Myriad Pro,"Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
}

h1 { 
    font-size: 32px; 
    margin:0 0 20px 0; 
}

h2 { 
    font-size: 20px; 
    color:#1487d4; 
    font-weight:normal; 
}

h3 { 
    font-size: 130%; 
}

h4 { 
    font-size: 110%; 
}

p { 
    margin:0 0 25px 0; 
}

a, li a.active { 
    color:#1487d4; 
    text-decoration:none; 
}

a img { 
    border:none; 
    outline: none; 
    display:block; 
    overflow:hidden; 
}

code { 
    font-family: "Courier New", Courier, monospace; 
}

blockquote { 
    background:transparent url('images/blockquote.png') no-repeat top left; 
    margin: 40px 0; padding: 0 55px; 
}


table { 
    border-collapse: collapse; 
    width:100%; 
}

table, td { 
    border: 1px solid #bbbbbb; 
}

table th { 
    background:#222222; 
    color:#ffffff; 
    font-weight:bold; 
    border:none; 
}

table tr.odd { 
    background:transparent; 
}

table tr.even { 
    background:#ffffff; 
}

table td, table th { 
    padding:5px; 
}


ol { 
    list-style-type:decimal; 
}

ol ol { 
    list-style-type:upper-alpha; 
}

ol ol ol {
    list-style-type:lower-alpha; 
}

li { 
    display:list-item; 
}



ul.tabs { 
    clear:both; 
    margin:20px; 
    white-space: normal 
}

ul.tabs li { 
    padding:10px 0; 
    line-height:130%; 
}

.links { 
    display: block; 
    text-align:right; 
}

.links li { 
    list-style-type:none; 
}

.item-list ul { 
    margin:0 0 0.25em 1em; 
    padding:0; 
}

.item-list ul li { 
    margin:0 0 0 5px; 
    padding:0 0 5px 5px; 
}

ol.search-results { 
    padding:0; 
}




.node.node-teaser { 
    margin-bottom:60px; 
}

.pager-current { 
    font-weight:bold; 
    color:#7c713f; 
}

.links ul li a, a.more, #edit-submit, #edit-preview, input.form-submit { 
    color:#fefefe; 
    padding:7px 15px; 
    text-shadow: 0 1px 1px #003547; 
    font-weight:bold; 
    border:none;
    font-family: "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; cursor:pointer;
    
    @include background_image(#0093c5,#0079a2);
    
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; 
    -webkit-box-shadow: 0px 1px 2px #939da2; -moz-box-shadow: 0px 1px 2px #939da2; box-shadow: 0px 1px 2px #939da2; 
}

.links ul li a:hover, a.more:hover, #edit-submit:hover, #edit-preview:hover, input.form-submit:hover {  
    background: #008ab8; 
    text-decoration:none; 
}

#edit-submit, #edit-preview { 
    margin:0 10px 0 0; 
}

.resizable-textarea .grippie { 
    border:1px solid #dddddd; 
}


ul.inline li { 
    display: inline-block;
    margin: 0; 
    padding: 10px 5px; 
    zoom: 1; 
    *display: inline; 
}

input.form-submit { 
    margin:0 10px 0 0; 
}