
body { 
    font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
    margin:0; 
    padding:0; 
    color: #7a7a7a; 
    outline:0 none; 
    vertical-align:baseline; 
    background:#1a1a1a;
}

.node.node-teaser { 
    margin-bottom:60px; 
}


h1, h2, h3, h4, h5, h6 { 
    margin:25px 0 20px 0; 
    line-height:120%; 
    text-shadow: 1px 1px 1px #EAF1EA; 
    color:#1487d4; 
    font-family: Myriad Pro,"Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
}

h1 { 
    font-size: 32px; 
    margin:0 0 20px 0; 
}

h2 { 
    font-size: 20px; 
    color:#1487d4; 
    font-weight:normal; 
}

h3 { 
    font-size: 130%; 
}

h4 { 
    font-size: 110%; 
}

p { 
    margin:0 0 25px 0; 
}

a, li a.active { 
    color:#1487d4; 
    text-decoration:none; 
}

a img { 
    border:none; 
    outline: none; 
    display:block; 
    overflow:hidden; 
}

code { 
    font-family: "Courier New", Courier, monospace; 
}

blockquote { 
    background:transparent url('images/blockquote.png') no-repeat top left; 
    margin: 40px 0; padding: 0 55px; 
}


