#footer { 
    clear:both; 
    overflow:hidden; 
    background:#181818; 
    padding:20px 0 50px 0;
}

#footer-inside { 
    width: 960px; 
    margin: 0 auto; 
} 

.footer-area { 
    width:280px; 
    float:left; 
    padding:0 50px 0 0; 
}

.footer-area.first { 
    width:280px;
}

.footer-area.second { 
    width:300px; 
}

.footer-area.third { 
    width:280px; padding:0; 
}


#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 { 
    text-shadow:none; 
}


/* Footer menu */
#footer .block ul.menu { margin: 0; padding: 0; }

#footer .block ul.menu ul.menu { margin: 0 0 0 15px; }

#footer .block ul.menu li { list-style:none; margin:0; padding:0; list-style-image:none; }

#footer .block ul.menu li a { border-bottom: 1px solid #353535; display: block; padding:5px; }

