@mixin background_image($color1, $color2) { 
    background: $color1;
    /* IE10 */ 
    background-image: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, $color1 0%, $color2 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(1, $color2));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top, $color1 0%, $color2 100%);
    /* IE6-9 */ 
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1a1a');
}


/*
 * Header
 */
#header { 
    clear:both;
}

#header-inside { 
    width: 960px; 
    margin: 0 auto; 
    padding:40px 0; 
    overflow:hidden; 
}

#header-menu { 
    clear:both; 
}

#header-menu-inside { 
    width: 960px; 
    margin: 0 auto; 
    height:45px; 
    line-height:46px;
} 

#header-inside-left { 
    float:left; 
    width: 620px; 
    padding:0 60px 0 0; 
    margin:0; 
}

#header-inside-right { 
    float:left; 
    width: 280px; 
    padding:0; 
}

/*
 * Banner
 */
#banner  { 
    clear:both;
    overflow: hidden;
}


/*
 * Content
 */
#content { 
    clear:both; 
    overflow:hidden;
    
    @include background_image(#e8e8e8,#efefef);

}

#content-inside { 
    width: 960px; 
    margin: 0 auto; 
    padding:30px 0 60px; 
    overflow:hidden; 
    display:block; 
} 

#main { 
    float:left; 
    width: 620px; 
    padding:0 60px 0 0; 
    margin:0; 
}

#sidebar { 
    float:left; 
    width: 280px; 
    padding:0; 
} 

.no-sidebars #main { 
    width:960px; 
    padding:0; 
    margin:0; 
}

.no-sidebars #sidebar { 
    display:none; 
}

.meta-data { 
    font-size:75%; 
    text-transform:uppercase; 
    color:#545454; 
    margin:5px 0 20px 0; 
    display:block; 
    overflow:hidden; 
    clear:both; 
}


/*
 * Footer
 */
#footer { 
    clear:both; 
    overflow:hidden; 
    background:#181818; 
    padding:20px 0 50px 0;
}

#footer-inside { 
    width: 960px; 
    margin: 0 auto; 
} 

.footer-area { 
    width:280px; 
    float:left; 
    padding:0 50px 0 0; 
}

.footer-area.first { 
    width:280px;
}

.footer-area.second { 
    width:300px; 
}

.footer-area.third { 
    width:280px; padding:0; 
}

.node.node-teaser { 
    margin-bottom:60px; 
}

#footer-bottom { 
    clear:both; 
    overflow:hidden; 
    padding:40px 0; 
    border-top:1px solid #353535;
    
    @include background_image(#262626,#1a1a1a);
 }

#footer-bottom-inside { 
    width: 960px; 
    margin: 0 auto; 
} 

#footer-bottom-left { 
    float:left; 
    width: 620px; 
    padding:0 60px 0 0; 
    margin:0; 
}

#footer-bottom-right { 
    float:left; 
    width: 280px; 
    padding:0; 
}