
$header_background1: #2f2f2f;
$header_background2: #1b1a1a;

$header-menu_background: #222222;
$header-menu_border-top_color: #353535;
$header-menu_border-bottom_color: #353535;
$header-menu_a: #ffffff;
$header-menu_a_hover: #1487d4;
$header-menu_background_expanded: #222222;

$banner_border_bottom: #fcfcfc;
$banner_border_background1: #efeeee;
$banner_border_background2: #dadada;

$content_background1: #e8e8e8;
$content_background2: #efefef;

$footer-bottom_background1: #262626;
$footer-bottom_background2: #1a1a1a;
$footer-bottom_border: #353535;
$footer-bottom-inside_a: #bbbbbb;