body { 
    font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
    margin:0; 
    padding:0; 
    color: #7a7a7a; 
    outline:0 none; 
    vertical-align:baseline; 
    background:#1a1a1a;
}
