@mixin background_image($color1, $color2) { 
    background: $color1;
    background-image: -ms-linear-gradient(top, $color1 0%, $color2 100%);       /* IE10 */
    background-image: -moz-linear-gradient(top, $color1 0%, $color2 100%);      /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(top, $color1 0%, $color2 100%);        /* Opera */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(1, $color2));/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, $color1 0%, $color2 100%);   /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(top, $color1 0%, $color2 100%);           /* Proposed W3C Markup */ 
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1a1a');/* IE6-9 */ 
}

@mixin radius($radius){
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius; 
    border-radius: $radius;
}


@import "settings";
@import "basic";

@import "header";
@import "header-menu";
@import "banner";
@import "content";
@import "footer";
@import "footer-bottom";

@import "block/block-search";
@import "block/block-node-recent";

@import "node/node-teaser";
@import "node/node-blog";

@import "misc/comments";
@import "misc/message";
@import "misc/slideshow";