#block-node-recent table, #block-node-recent td { 
    border:none; 
}

#block-node-recent table tbody { 
    border:none; 
}

#block-node-recent tr.even, #block-node-recent tr.odd { 
    border-bottom:1px solid #e7e7e7; 
}
